.imgProjetoSweet{
    width: 80%;
    margin-top: 10px;
    margin-left: 70px;
    position: absolute;
    
    
}

.imgProjetoCronometro{
    width: 80%;
    
    margin-top: 10px;
    margin-left: 700px;
    position: absolute;
    
}

.imgProjetoTarefa{
    width: 80%;
    opacity: 100%;
    margin-top: 30px;
    margin-left: 100px;
    position: absolute;

    border: 2px solid black;
}

.imgProjetoCadastro{
    width: 80%;
    opacity: 100%;
    margin-top: 35px;
    margin-left: 700px;
    position: absolute;
    
    border: 2px solid black;
}