.imgJs{
    width: 5%;
    margin-top: 1000px;
    margin-left: 200px;
    cursor: pointer;
    position: absolute;
}

.imgCSharp{
    width: 5%;
    margin-top: 1000px;
    margin-left: 400px;
    cursor: pointer;
    position: absolute;
}

.imgNodeJs{
    width: 5%;
    margin-top: 1000px;
    margin-left: 600px;
    cursor: pointer;
    position: absolute;
}

.imgCss{
    width: 5%;
    margin-top: 1000px;
    margin-left: 800px;
    cursor: pointer;
    position: absolute;
}

.imgHtml{
    width: 5%;
    margin-top: 1000px;
    margin-left: 1000px;
    cursor: pointer;
    position: absolute;
}